.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

.grid-item {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

/* ------------- CSS Grid Baitap--------------- */
.ex-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}